/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );
@import 'variables';

body,
#app,
.v-container {
  min-width: 320px !important;
}

.v-container {
  max-width: calc(100vw - 88px) !important;
}

.mhp-title-section {
  max-width: calc(100vw - 88px) !important;
  width: 100%;
  margin: 0 auto;
}

.mhp-container {
  background-color: white;
}

.btn {
  text-transform: unset !important;
}

.mhp-page-title {
  font-size: 24px;
  font-weight: 500;
  // color: var(--v-theme-primary-base);
  letter-spacing: 0;
}

.no-data {
  // min-height: 95px;
  width: 650px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 24px;
  text-align: center;
  background-color: #f2f5fa;

  .message {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0px;
    color: $primary;
    opacity: 1;
  }
}

.mhp-toolbar-title {
  font-size: 24px;
  font-weight: 500;
  color: #c4c7d1;
  letter-spacing: 0;
}

.mhp-wrap {
  background-color: #f8f8f8;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;

  .container {
    background-color: white;
    position: relative;
    flex-grow: 1;
  }
}

.mhp-subheader-section {
  display: flex;
  align-items: center;
  height: 60px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px #0000000a;

  &-description {
    font-size: 14px;
    letter-spacing: 0px;
    color: #2b2b2b;
  }
}

.mhp-page-title-row {
  max-width: calc(100vw - 88px);
  width: 100%;
  margin: 0 auto;
}

.mhp-page-title {
  font-size: 24px;
  font-weight: 500;
  color: $primary;
  letter-spacing: 0;
}

.mhp-page-subtitle {
  font-size: 18px;
  font-weight: 500;
  color: $primary;
  letter-spacing: 0;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
